---
//import { MongoClient } from "mongodb";
export const prerender = true
import Layout from "../../../layouts/Layout.astro";
import Navbar from "../../../components/navbar.jsx";
import Footer from "../../../components/footer.astro";
import Discord from "../../../components/discord.astro";
import Episode from "../../../components/episode.astro";

/*import pkg from "simpl.db";
const { Database } = pkg;
const db = new Database();
const datadb: any = db.createCollection("data");*/
import {Datadb} from "../../../lib/mongo.ts";
let datadb = Datadb

export async function getStaticPaths() {
  /*const { Database } = pkg;
  const db = new Database();
  var datadb: any = db.createCollection("data");
  datadb = datadb.getAll();*/
  //let datadb = await db.collection("data").find({}).toArray();
  let datadb = await Datadb.find({}).toArray()
  // Extrair todas as combinações possíveis de paths com base nos dados
  const paths = datadb.reduce((acc: any, serie: any) => {
    serie.seasons.forEach((season: any) => {
      season.eps.forEach((episode: any) => {
        acc.push({
          params: {
            serie: serie.id,
            s: `s0${
              serie.seasons.findIndex((el: { n: any }) => el.n === season.n) + 1
            }`,
            ep: `e${
              (season.eps.findIndex((el: { ep: any }) => el.ep === episode.ep) +
                1 <
              10
                ? "0"
                : "") +
              (season.eps.findIndex((el: { ep: any }) => el.ep === episode.ep) +
                1)
            }`,
          },
        });
      });
    });
    return acc;
  }, []);

  return paths;
}

getStaticPaths();

var { serie, s, ep }: any = Astro.params;
const page = await datadb.findOne({ id: serie }); //(u: { id: any }) => u.id === serie
//if (!page ) return Astro.redirect("/404");
const season = page!.seasons[s.split("s0")[1] - 1];
const episode = season.eps[ep.split("e")[1] - 1]; //season.eps[ep.split('e0')[1]]
//episode;
const maincolor = page!.rgb;

if (!page || !season || !episode) return Astro.redirect("/404");
---

<Layout
  bodyClass={`bg-[url('/assets/${page.id}/back.jpg')] bg-fixed bg-cover bg-center`}
  title={`${episode.ep} legendado 📺`}
  desc={`${page.title}, ${season.n}, ${episode.ep} legendado na OnionSubs :)`}
  rgb={page.rgb}
  img={episode.img}
>
  <style define:vars={{ maincolor }}></style>
  <section class="w-full flex justify-center xl:py-5">
    <section
      class="w-full xl:w-4/5 back bg-[var(--bg-2)] xl:rounded-lg main"
      style="transition-duration: 500ms;"
    >
      <div class="header" id="home">
        <Navbar client:load transition:name="navbar" />
        <div
          class="bg-[var(--bg-dark-color)] p-5 flex justify-around gap-1 w-full"
        >
          <div
            class="gap-2 flex rounded-md bg-gradient-to-tl from-[#e4e4e44d] p-4 pt-2 justify-center flex-col w-full"
          >
            <div class="w-full text-white">
              <nav class="w-full rounded-md">
                <ol class="list-reset flex">
                  <li>
                    <a
                      href="/"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out"
                      ><i class="hidden md:inline-block fa-duotone fa-house"
                      ></i> Home</a
                    >
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-neutral-500 dark:text-neutral-400 fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href="/series"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out"
                    >
                      <i class="hidden md:inline-block fa-duotone fa-tv"></i>
                      séries
                    </a>
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-neutral-500 dark:text-neutral-400 fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href={`/${page.id}`}
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out"
                    >
                      {page.title}</a
                    >
                  </li>
                </ol>
              </nav>
            </div>

            <div class="flex h-fit flex-col md:flex-row gap-2">
              <div class="w-full flex flex-col items-center gap-2">
                <div
                  class="text-white bg-[var(--bg-1)] rounded-lg flex flex-wrap text-sm font-medium justify-around text-center w-full"
                >
                  {
                    episode.link.map((link: any, index: any) => (
                      <button
                        data-sourcep={link}
                        onclick="document.getElementById('theone').src = this.dataset.sourcep;
                      Array.from(this.parentElement.children).forEach((el)=>{
                        if (el.classList.contains('bg-[var(--maincolor)]')){
                          el.classList.remove('bg-[var(--maincolor)]')
                          el.classList.remove('text-white')
                        }})
                      this.classList.add('bg-[var(--maincolor)]')
                      this.classList.add('text-white')"
                        class={
                          (index <= 0
                            ? "bg-[var(--maincolor)] text-white"
                            : "") +
                          " border!important border-gray-200 cursor-pointer active:translate-y-0.5 hover:-translate-y-0.5 text-slate-700 inline-block m-1 my-2 py-1 p-2  font-medium text-sm  rounded-lg  active opacity-100 "
                        }
                      >
                        {link.replace(/.+\/\/|www.|\..+/g, "")}
                      </button>
                    ))
                  }
                </div>

                <iframe
                  id="theone"
                  class="h-96 md:h-full w-full rounded-lg"
                  src={episode.link[0]}
                  allowfullscreen="true"></iframe>

                <div
                  class="p-2 bg-[var(--bg-1)] rounded-lg flex text-sm font-medium justify-around text-center w-full text-gray-500"
                >
                  {episode.sinopse}
                </div>
              </div>

              <div
                class="min-h-[520px] max-h-[32rem] relative md:w-2/6 bg-[var(--bg-1)] flex flex-col overflow-auto rounded-lg gap-y-0.5"
              >
                <div
                  class="flex flex-wrap flex-row h-full justify-around overflow-y-auto"
                >
                  <div
                    class={`w-full px-4 py-1 z-40 border-b-2 border-[${page.rgb}] sticky top-0 backdrop-blur-sm shadow-xl w-vig`}
                  >
                    <h1 class="font-medium leading-5 text-center">
                      <a
                        href={page.seasons[s.split("s0")[1] - 2] &&
                          `/${page.id}/s0${s.split("s0")[1] - 1}/e01 `}
                        class={page.seasons[s.split("s0")[1] - 2]
                          ? ""
                          : "text-red-600 cursor-not-allowed"}
                      >
                        <i class="fa-duotone fa-backward-step"></i>
                      </a>

                      {s}

                      <a
                        href={page.seasons[s.split("s0")[1]] &&
                          `/${page.id}/s0${Number(s.split("s0")[1]) + 1}/e01`}
                        class={page.seasons[s.split("s0")[1]]
                          ? ""
                          : "text-red-600 cursor-not-allowed"}
                      >
                        <i class="fa-duotone fa-forward-step"></i>
                      </a>
                    </h1>
                  </div>

                  {
                    page.seasons[s.split("s0")[1] - 1].eps.map(
                      (episode1: any) => (
                        <article
                          data-url={`/${page.id}/${s}/e${
                            Number(
                              page.seasons[s.split("s0")[1] - 1].eps.findIndex(
                                (el: any) => el.ep === episode1.ep,
                              ),
                            ) +
                              1 <
                            10
                              ? "0"
                              : ""
                          }${
                            Number(
                              page.seasons[s.split("s0")[1] - 1].eps.findIndex(
                                (el: any) => el.ep === episode1.ep,
                              ),
                            ) + 1
                          }`}
                          class={
                            `episodio m-2 overflow-hidden rounded-lg h-[120px] min-h-[8.3rem] 
                   border-2 
                  grow w-64 sm:w-1/3 md:w-11/12 text-white 
                  bg-cover bg-center bg-[url(${episode1.img})]` +
                            (page.seasons[s.split("s0")[1] - 1].eps.findIndex(
                              (el: any) => el.ep === episode1.ep,
                            ) +
                              1 ==
                            ep.split("e")[1]
                              ? ` cursor-not-allowed border-[${page.rgb}]`
                              : " cursor-pointer")
                          }
                          data-ripple-light="true"
                        >
                          <a
                            class="h-full"
                            href={
                              Number(
                                page.seasons[
                                  s.split("s0")[1] - 1
                                ].eps.findIndex(
                                  (el: any) => el.ep === episode1.ep,
                                ),
                              ) +
                                1 ==
                              ep.split("e")[1]
                                ? null
                                : `/${page.id}/${s}/e${
                                    Number(
                                      page.seasons[
                                        s.split("s0")[1] - 1
                                      ].eps.findIndex(
                                        (el: any) => el.ep === episode1.ep,
                                      ),
                                    ) +
                                      1 <
                                    10
                                      ? "0"
                                      : ""
                                  }${
                                    Number(
                                      page.seasons[
                                        s.split("s0")[1] - 1
                                      ].eps.findIndex(
                                        (el: any) => el.ep === episode1.ep,
                                      ),
                                    ) + 1
                                  }`
                            }
                          >
                            <div class="vignette pl-2 pb-1 pr-1 pt-[6.7rem]">
                              <h1
                                class="font-medium text-sm text-white text-clip overflow-hidden whitespace-nowrap"
                                style="font-family: 'Montserrat'"
                              >
                                {episode1.ep}
                              </h1>
                            </div>
                          </a>
                        </article>
                      ),
                    )
                  }

                  <div
                    class={`bottom-0 w-full w-vig px-4 py-2 z-40 border-t-2 border-[${page.rgb}] sticky backdrop-blur-sm shadow-xl`}
                  >
                    <h1 class="font-medium leading-5 text-center">
                      <a
                        href={page.seasons[s.split("s0")[1] - 1].eps[
                          ep.split("e")[1] - 2
                        ]
                          ? `/${page.id}/${s}/e0${Number(ep.split("e")[1]) - 1}`
                          : page.seasons[s.split("s0")[1] - 2] &&
                            `/${page.id}/s0${Number(s.split("s0")[1]) - 1}/e${
                              page.seasons[s.split("s0")[1] - 2].eps.length < 10
                                ? "0"
                                : ""
                            }${page.seasons[s.split("s0")[1] - 2].eps.length}`}
                        class={page.seasons[s.split("s0")[1] - 1].eps[
                          Number(ep.split("e")[1]) - 2
                        ]
                          ? ""
                          : page.seasons[s.split("s0")[1] - 2]
                            ? ""
                            : "text-red-600 cursor-not-allowed"}
                      >
                        <i class="fa-duotone fa-backward-step"></i>
                      </a>

                      {episode.ep}

                      <a
                        href={page.seasons[s.split("s0")[1] - 1].eps[
                          ep.split("e0")[1]
                        ]
                          ? `/${page.id}/${s}/e${
                              Number(ep.split("e0")[1]) + 1 < 10 ? "0" : ""
                            }${Number(ep.split("e0")[1]) + 1}`
                          : page.seasons[s.split("s0")[1]] &&
                            `/${page.id}/s0${Number(s.split("s0")[1]) + 1}/e01`}
                        class={page.seasons[s.split("s0")[1] - 1].eps[
                          ep.split("e0")[1]
                        ]
                          ? ""
                          : page.seasons[s.split("s0")[1]]
                            ? " "
                            : "text-red-600 cursor-not-allowed"}
                      >
                        <i class="fa-duotone fa-forward-step"></i>
                      </a>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <Discord />
        <Footer />
      </div>
    </section>
    <script is:inline src="/js/watched.js"></script>
    <script is:inline>
      checkeps();
      watch(window.location.pathname);

      document.addEventListener("astro:after-swap", () => {
        checkeps();
        watch(window.location.pathname);
      });
    </script>
  </section>
</Layout>