@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import "https://unpkg.com/open-props/animations.min.css";
@import "https://unpkg.com/open-props/easings.min.css";

:root {
  --prime-color: #bd84f7;

  --op: #f5dc88bd;
  --pink: rgb(244, 143, 177);

  color: var(--first-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --prime-color: #be84f7d3;

    --bg-1: #1e2122;
    --bg-15: #33383a;
    --bg-2: #292d2e;
    --bg-3: #4f5559;
    --bg-dark-color: #1f2937;

    --fundo: #2a2d30;

    --first-text-color: #f3f4f5;
    --second-text-color: #9e9e9e;
    --first-text-font: "Montserrat", sans-serif;
    --second-text-font: "Roboto", sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --prime-color: #bd84f7;

    --bg-1: #f3f4f5;
    --bg-15: #e9e9e9;
    --bg-2: #dadadf;
    --bg-3: #c5c5c5;
    --bg-dark-color: #1f2937;

    --fundo: #e0dfe7;

    --first-text-color: #0f0f0f;
    --second-text-color: #9e9e9e;
    --first-text-font: "Montserrat", sans-serif;
    --secound-test-font: "Roboto", sans-serif;

    --op: #f5dc88bd;
    --pink: rgb(244, 143, 177);
  }
}

[data-theme="light"] {
  --prime-color: #bd84f7;

  --bg-1: #f3f4f5;
  --bg-12: #f5f5f586;
  --bg-15: #e9e9e9;
  --bg-2: #dadadf;
  --bg-3: #c5c5c5;
  --bg-dark-color: #1f2937;

  --fundo: #e0dfe7;

  --first-text-color: #0f0f0f;
  --second-text-color: #9e9e9e;
  --first-text-font: "Montserrat", sans-serif;
  --secound-test-font: "Roboto", sans-serif;

  --op: #f5dc88bd;
  --pink: rgb(244, 143, 177);
}

[data-theme="dark"] {
  --prime-color: #be84f7d3;

  --bg-1: #1e2122;
  --bg-12: #1e21229d;
  --bg-15: #33383a;
  --bg-2: #292d2e;
  --bg-3: #4f5559;
  --bg-dark-color: #1f2937;

  --fundo: #2a2d30;

  --first-text-color: #f3f4f5;
  --second-text-color: #9e9e9e;
  --first-text-font: "Montserrat", sans-serif;
  --second-text-font: "Roboto", sans-serif;
}

* {
  transition-property: all;
  transition-timing-function: var(--ease-out-5);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

::selection {
  background: var(--op);
}

body {
  font-family: var(--first-text-font);
  margin: 0;
  background-color: var(--fundo);
  background-image: url("/assets/onion-bg.svg");
  background-clip: border-box;
  background-repeat: repeat;
  background-size: 50%;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}

.sob {
  margin-top: -80px;
}

.main {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#cookie {
  width: 45%;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.blob-1,
.blob-2 {
  width: 70px;
  height: 70px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blob-1 {
  left: 20%;
  animation: osc-l 2.5s ease infinite;
}
.blob-2 {
  left: 80%;
  animation: osc-r 2.5s ease infinite;
}
@keyframes osc-l {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}
@keyframes osc-r {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}

html {
  scroll-behavior: smooth;
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 10px 30px 0 rgba(43, 45, 66, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

.deco:after {
  position: absolute;
  content: "";
  background: no-repeat;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.star:after {
  filter: drop-shadow(0px 0px 20px #fff70091);
}
.flopan:after {
  animation: floppa 10s ease-in-out infinite;
}

@keyframes floppa {
  0% {
    transform: translatey(0px);
    transform: rotate(0deg);
  }
  25% {
    transform: translatey(-20px);
    transform: rotate(3deg);
  }
  75% {
    transform: translatey(-20px);
    transform: rotate(-3deg);
  }
  100% {
    transform: translatey(0px);
    transform: rotate(0deg);
  }
}

.tbl {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1 > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-star > svg > path {
  fill: var(--op);
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--prime-color),
    var(--pink),
    var(--prime-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.back {
  background-color: #eae8ed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.cli:after {
  position: absolute;
  content: "";
  background: no-repeat;
  bottom: 0;
  left: 13px;
  width: 100%;
  height: 150%;
  background: no-repeat;
  background-size: contain;
}

.cli:hover {
  transform: translateY(-2px);
}

.cli:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.watch:after {
  position: absolute;
  content: "";
  background-position: center;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 70px -21px rgba(0, 0, 0, 1);
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  transition: 0.2s;
}

.watch:hover:after {
  background-size: 55% 67%;
  box-shadow: inset 0px 0px 30px -21px rgba(0, 0, 0, 1);
}

.watched {
  position: relative;
}

.watched:after {
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  margin: 9px;
  top: 0px;
  right: 0px;
  border-radius: 5px;

  text-align: center;
  font-size: 1em;
  height: 21px;
  line-height: 10px;
  width: 21px;
  content: url("../assets/check-solid.svg");
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 9px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: content-box;
}

i:hover {
  animation: shake-y 0.75s var(--ease-out-5);
}

.vignette {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, -1) 80%
  );
}

.w-vig {
  background: var(--bg-1);
  background: -moz-linear-gradient(318deg, var(--bg-1) 0%, var(--bg-12) 100%);
  background: -webkit-linear-gradient(
    318deg,
    var(--bg-1) 0%,
    var(--bg-12) 100%
  );
  background: linear-gradient(318deg, var(--bg-1) 0%, var(--bg-12) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.3s filter;
  filter: blur(10px);
}

button:active {
  transform: scale(0.9);
}

.tabs-boxed .tab-active:not(.tab-disabled):not([disabled]) {
  background-color: var(--maincolor) !important;
  color: white;
}

hr {
  margin: 5px !important;
}

.bgcard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 342 175' height='175' width='342' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(1,-1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='matrix(-1 0 0 -1 342 175)'%3E%3Cpath fill='url(%23paint0_linear_103_640)' d='M0 66.4396C0 31.6455 0 14.2484 11.326 5.24044C22.6519 -3.76754 39.6026 0.147978 73.5041 7.97901L307.903 62.1238C324.259 65.9018 332.436 67.7909 337.218 73.8031C342 79.8154 342 88.2086 342 104.995V131C342 151.742 342 162.113 335.556 168.556C329.113 175 318.742 175 298 175H44C23.2582 175 12.8873 175 6.44365 168.556C0 162.113 0 151.742 0 131V66.4396Z'/%3E%3Cdefs%3E%3ClinearGradient gradientUnits='userSpaceOnUse' y2='128' x2='354.142' y1='128' x1='0' id='paint0_linear_103_640'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop stop-color='%23fff' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E%0A");
  background-clip: border-box;
}

.gradcaard {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    8deg,
    rgba(255, 255, 255, 1) 57%,
    rgba(1, 1, 1, 0) 58%,
    rgba(0, 1, 1, 0) 100%
  );
}

.glass {
  border: none;
  backdrop-filter: blur(10px);
  background-color: transparent;
  background-image: linear-gradient(
      135deg,
      rgb(255 255 255 / var(--glass-opacity, 30%)) 0%,
      rgb(0 0 0 / 0%) 100%
    ),
    linear-gradient(
      var(--glass-reflex-degree, 100deg),
      rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%,
      rgb(0 0 0 / 0%) 25%
    );
  box-shadow: 0 0 0 1px rgb(255 255 255 / var(--glass-border-opacity, 10%))
      inset,
    0 0 0 2px rgb(0 0 0 / 5%);
  text-shadow: 0 1px rgb(0 0 0 / var(--glass-text-shadow-opacity, 5%));
}

@keyframes smooth-appear {
  to {
    bottom: 20px;
    opacity: 1;
  }
}

.appear {
  opacity: 0;
  animation: smooth-appear 1s ease forwards;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.shape {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: scale(0.8);
}
.cir {
  position: absolute;
  border-radius: 50%;
  z-index: 5;
}

.btn-particles {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  color: #eee;
  font-family: monospace;
  /*background-color: #4a216d;*/
  margin: 0px;
  padding: 0px;
}

.gradcaard {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    8deg,
    rgba(255, 255, 255, 1) 57%,
    rgba(1, 1, 1, 0) 58%,
    rgba(0, 1, 1, 0) 100%
  );
}

hr {
  margin: 5px !important;
}

.bgcard {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 342 175' height='175' width='342' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' transform='matrix(1,-1.2246467991473532e-16,-1.2246467991473532e-16,-1,0,0)'%3E%3Cg xmlns='http://www.w3.org/2000/svg' transform='matrix(-1 0 0 -1 342 175)'%3E%3Cpath fill='url(%23paint0_linear_103_640)' d='M0 66.4396C0 31.6455 0 14.2484 11.326 5.24044C22.6519 -3.76754 39.6026 0.147978 73.5041 7.97901L307.903 62.1238C324.259 65.9018 332.436 67.7909 337.218 73.8031C342 79.8154 342 88.2086 342 104.995V131C342 151.742 342 162.113 335.556 168.556C329.113 175 318.742 175 298 175H44C23.2582 175 12.8873 175 6.44365 168.556C0 162.113 0 151.742 0 131V66.4396Z'/%3E%3Cdefs%3E%3ClinearGradient gradientUnits='userSpaceOnUse' y2='128' x2='354.142' y1='128' x1='0' id='paint0_linear_103_640'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop stop-color='%23fff' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E%0A");
  background-clip: border-box;
}

.theme-toggle {
  --theme-toggle__within--duration: 500ms;
}
.theme-toggle__within * {
  transform-origin: center;
  transition: transform calc(var(--theme-toggle__within--duration))
    cubic-bezier(0, 0, 0, 1.25);
}
.theme-toggle
  input[type="checkbox"]:checked
  ~ .theme-toggle__within
  .theme-toggle__within__circle,
.theme-toggle--toggled:not(label).theme-toggle
  .theme-toggle__within
  .theme-toggle__within__circle {
  transform: scale(1.5);
}
.theme-toggle
  input[type="checkbox"]:checked
  ~ .theme-toggle__within
  .theme-toggle__within__inner,
.theme-toggle--toggled:not(label).theme-toggle
  .theme-toggle__within
  .theme-toggle__within__inner {
  transform: translate3d(3px, -3px, 0) scale(1.2);
}

.theme-toggle input[type="checkbox"]:checked ~ .theme-toggle__within g path,
.theme-toggle--toggled:not(label).theme-toggle .theme-toggle__within g path {
  transform: scale(0.65);
}
.theme-toggle {
  cursor: pointer;
}
.theme-toggle input[type="checkbox"] {
  display: none;
}
@media (prefers-reduced-motion: reduce) {
  .theme-toggle:not(.theme-toggle--force-motion) * {
    transition: none !important;
  }
}
