---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Footer from "../components/footer.astro";
import Discord from "../components/discord.astro";
import Episode from "../components/episode.astro";

import { Datadb } from "../lib/mongo.ts";
let datadb = Datadb;

export async function getStaticPaths() {
  let datadb = await Datadb.find({}).toArray();
  const obj: object[] = [];
  //@ts-ignore
  datadb.forEach((item: { id: any }) =>
    obj.push({ params: { serie: item.id } }),
  );
  return obj;
}

getStaticPaths();

const { serie } = Astro.params;
const page = await datadb.findOne({ id: serie }); //(u: { id: any }) => u.id === serie
if (!page) return Astro.redirect("/404");
---

<Layout
  bodyClass={`bg-[url('/assets/${page.id}/back.jpg')] bg-fixed bg-cover bg-center`}
  title={`${page.title} legendado 📺`}
  desc={page.title + " legendado na OnionSubs!"}
  rgb={page.rgb}
  img={page.img}
>
  <section class="w-full flex justify-center xl:py-5">
    <section
      class="w-full xl:w-4/5 back bg-[var(--bg-12)] xl:rounded-lg main glass backdrop-blur"
      style="transition-duration: 500ms;"
    >
      <div class="header" id="home">
        <Navbar client:load transition:name="navbar" />
        <div class="px-7 flex justify-around gap-1">
          <div
            style="backdrop-filter: blur(10px);"
            class="overflow-y-auto backdrop-blur glass bg-gradient-to-tr from-[var(--bg-1)] rounded-lg p-5 my-10 w-full md:w-1/2 flex flex-col justify-evenly items-centwe"
          >
            <div class="h-1/2 w-full">
              <img
                class="w-1/2 h-full m-auto"
                src={`/assets/${page.id}/logo.png`}
              />
            </div>
            <div class="text-[var(--first-text-color)]">
              <p>{page.desc}</p>
            </div>
          </div>

          <div class="hidden self-end sm:block">
            <div
              class={`max-w-md h-auto bg-[url('/assets/${page.id}/cha2.png')] bg-contain bg-no-repeat`}
            >
              <img
                src={`/assets/${page.id}/cha1.png`}
                class="ease-in-out duration-100 hover:opacity-0"
              />
            </div>
          </div>
        </div>
        <section class="-mt-5 bg-gradient-to-l from-[var(--bg-1)]">
          <section
            class={`flex-col px-10 py-5 space-y-5 mt-5 bg-gradient-to-t from-[var(--bg-1)] border-t-2 border-[${page.rgb}]`}
          >
            <div class="flex justify-between">
              <h1 class="text-xl">
                <i class="fa-duotone fa-video"></i> Assista aqui
              </h1>
            </div>

            <div
              class={`rounded-lg bg-[var(--bg-2)] tabs tabs-boxed flex flex-row [--maincolor:${page.rgb};]`}
            >
              <!--_="on click take .tab-active from .tab for event.target" -->
              <!-- <% serieif.seasons.forEach( (s, index) => { %>
                <a href="#<%=s.n.replace(/\s/g, '')%>" class="tab <%if(index==0){%>tab-active<%}%>" _="on click toggle .hidden on <div[role=tabpanel]:not(.hidden)/> then toggle .hidden on #<%=s.n.replace(/\s/g, '')%>" data-ripple-light="true">
                  <%=s.n%>
                </a>
              <%})%>-->

              {
                page.seasons.map((season: any, index: any) => (
                  <a
                    href={
                      "#s0" +
                      (Number(
                        page.seasons.findIndex((el: any) => el.n === season.n),
                      ) +
                        1)
                    }
                    class={`sbutton rounded-lg m-1 p-2 tab ${
                      index == 0 ? "tab-active" : ""
                    }`}
                    data-ripple-light="true"
                    id={
                      "s0" +
                      (Number(
                        page.seasons.findIndex((el: any) => el.n === season.n),
                      ) +
                        1)
                    }
                  >
                    {season.n}
                  </a>
                ))
              }
            </div>
            <div id="myTabContent">
              <!-- <% serieif.seasons.forEach((book, index) => { %>
    <div class="<%if(index==0){%><%}else{%>hidden<%}%> p-4 rounded-b-lg mt-2 flex flex-wrap justify-around gap-5 items-stretch" id="<%=book.n.replaceAll(' ', '')%>" role="tabpanel" aria-labelledby="<%=book.n.replaceAll(' ', '')%>-tab">
        <%book.eps.forEach(ep => { %>
                        <a class="episodio" href="/<%=serieif.id%>/s0<%=serieif.seasons.findIndex(el => el.n === book.n)+1%>/e0<%=book.eps.findIndex(el => el.ep === ep.ep)+1%>"  data-aos="fade-up" data-aos-once="true">
                         <%- include('partials/ep.ejs', {nomeplay: ep.ep, descplay: ep.sinopse, imgplay: ep.img, epindex: book.eps.findIndex(el => el.ep === ep.ep), rgb: serieif.rgb}) %></a>
                    <%  })%> </div>
        <% }) %>-->
              {
                page.seasons.map((season: any, index: any) => (
                  <div
                    class={`${
                      index == 0 ? "" : "hidden"
                    } eps p-4 rounded-b-lg mt-2 flex flex-wrap justify-around gap-5 items-stretch`}
                    id={
                      "eps0" +
                      (Number(
                        page.seasons.findIndex((el: any) => el.n === season.n),
                      ) +
                        1)
                    }
                    role="tabpanel"
                    aria-labelledby="<%=book.n.replaceAll(' ', '')%>-tab"
                  >
                    {season.eps.map((episode: any, index: any) => (
                      <a
                        class="episodio"
                        href={`/${page.id}/s0${
                          page.seasons.findIndex(
                            (el: { n: any }) => el.n === season.n,
                          ) + 1
                        }/e${
                          Number(
                            page.seasons[
                              page.seasons.findIndex(
                                (el: { n: any }) => el.n === season.n,
                              )
                            ].eps.findIndex((el: any) => el.ep === episode.ep),
                          ) +
                            1 <
                          10
                            ? "0"
                            : ""
                        }${
                          season.eps.findIndex(
                            (el: { ep: any }) => el.ep === episode.ep,
                          ) + 1
                        }`}
                        data-aos="fade-up"
                        data-aos-once="true"
                      >
                        <Episode
                          title={episode.ep}
                          rgb={page.rgb}
                          body={episode.sinopse}
                          image={episode.img}
                          index={
                            season.eps.findIndex(
                              (el: { ep: any }) => el.ep === episode.ep,
                            ) + 1
                          }
                        />
                      </a>
                    ))}
                  </div>
                ))
              }
            </div>
          </section>
        </section>

        <Discord />
        <Footer />
      </div>
    </section>

    <script is:inline src="/js/watched.js"></script>
    <script>
      checkeps();

      async function seasonctrl() {
        const delay = (ms) => new Promise((res) => setTimeout(res, ms));
        await delay(10);
        if (!window.location.hash) return;
        console.log(window.location.hash.split("#")[1]);

        document.querySelectorAll("a.sbutton").forEach((btn) => {
          if (btn.id === window.location.hash.split("#")[1]) {
            btn.classList.add("tab-active");
          } else {
            btn.classList.remove("tab-active");
          }
        });

        const divs = document.querySelectorAll("div.eps");
        divs.forEach((divv) => {
          if (!divv.classList.contains("hidden")) {
            divv.classList.add("hidden");
          }
        });

        var id = "eps" + window.location.hash.split("s")[1];
        const div = document.getElementById(id);
        div.classList.remove("hidden");
        div.classList.add("appear");
      }

      document.addEventListener("astro:page-load", () => {
        // Handle clicks on each button.
        document.addEventListener("astro:after-swap", () => {
          seasonctrl();
        });

        document.querySelectorAll("a.sbutton").forEach((button) => {
          button.addEventListener("click", () => {
            console.log("a");
            seasonctrl();
          });
        });
      });

      document.addEventListener("astro:page-load", () => {
        seasonctrl();
      });
    </script>
  </section>
</Layout>
