---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Playlist from "../components/playlist.tsx";
import Discord from "../components/discord.astro";
import Footer from "../components/footer.astro";
import * as data from '../../collections/crew.json'
//@ts-ignore
var crew = data.default
---

<Layout title="Sobre a OnionSubs!" bodyClass="bg-[url('https://s6.imgcdn.dev/ZoJTg.jpg')] bg-auto bg-center bg-fixed" desc="Página about/crew da OnionSubs!">
  <main>
    <section class="w-full flex justify-center xl:py-5">
      <section
        class="w-full xl:w-4/5 back bg-[var(--bg-12)] xl:rounded-lg main glass backdrop-blur"
        style="transition-duration: 500ms;"
      >
        <div class="header !rounded-lg glass bg-gradient-to-tl from-[var(--bg-1)]" id="home">
          <Navbar client:load transition:name="navbar" />
          <section id="us" class="flex flex-col px-5 sm:px-10 py-5 space-y-5">

            <h1 class="text-xl">
              <i class="fa-duotone fa-heart"></i> Sobre
            </h1>

            <div class="text-center glass bg-gradient-to-br from-[var(--bg-1)] rounded-lg p-3 my-10 flex justify-center">
              <div class="w-full rounded-lg">
                <p class="italic text-sm sm:text-lg">
                  Há muito tempo, em uma galáxia muito, muito distante...
                  Surgiram grandiosos heróis conhecidos como tradutores. Seu objetivo era simples: traduzir
                  conteúdos de outras línguas, para sua língua nativa, dessa forma possibilitando o fácil acesso a
                  diversos conteúdos de educação, lazer, entretenimento e muitos outros.
                  Com o tempo, do nicho de tradutores, surgiram aqueles que queriam traduzir mídia visual, como
                  séries de TV, desenhos, animes, entre outras coisas. Esses era os primorosos fansubbers - e
                  esses são quem nós somos!
                  Com um objetivo nobre em mente (disponibilizar, de fácil acesso, conteúdos independentes
                  legendandos e/ou dublados em português, sempre com autorização dos respectivos donos), buscamos
                  sempre trazer a qualidade duvidosa da internet e o bom humor dos amigos para nossa comunidade e
                  legendas, esperando sempre agradar aos nossos telespectadores!
                  (*Sim, somos compostos por integrantes da Infinity Train Brasil, The Owl House Brasil, The Ghost
                  and Molly McGee Brasil e, no geral, a falecida Summer Project)
                </p>
              </div>

            </div>
          </section>
          <section id="crew" class="flex flex-col px-5 sm:px-10 py-5 space-y-5 bg-gradient-to-t from-[var(--bg-1)]">

            <h1 class="text-xl">
              <i class="fa-duotone fa-star-and-crescent"></i> Equipe
            </h1>

            <div
              class="flex flex-col lg:flex-row flex-wrap justify-center items-center space-y-10 lg:space-y-0 lg:space-x-5">

              {crew.map((member: any) => (
                <div class="m-3  w-80 drop-shadow-xl">

<div class="p-2 bg-contain bg-no-repeat">

  <div class="flex flex-wrap justify-around justify-items-center items-center">

    <div class="w-full gap-0.5 flex flex-nowrap justify-evenly items-center">

      <div
        class={`basis-1/2 avatar ${member.deco ? (member.deco.style + `deco relative after:bg-[url('${member.deco.path}')] after:right-${member.deco.right} after:-top-${member.deco.top} after:w-${member.deco.width} after:h-${member.deco.height}`) : ""}`}>
        <div class="">
          <img class="rounded-lg" src={member.img} />
        </div>
      </div>

      <div class="max-w-[50%]">
        <h1 class="text-lg -mb-2 font-bold">
          {member.name}
        </h1>
        <hr>
        <div class="flex flex-wrap gap-1 w-min">
          
          {member.role.map((role: any)=>(
            <div class="bg-[var(--prime-color)] text-xs p-2 py-1 text-[var(--first-text-color)] rounded-full">
              {role}
            </div>
          ))}
            
        </div>
        <div class="absolute bottom-0 right-0 bg-[var(--bg-1)] w-1/2 h-full -z-40 rounded-xl">
  </div>
      </div>
    </div>

    <div class="mt-1 mx-2">

      <hr>
      <p class="text-clip italic text-sm">
        {member.desc}
      </p>
      <hr>

        <div class="my-3 flex justify-around text-[var(--second-text-color)]">
          
          {member.social.map((social: any) => (
            <div class="group relative">
              <a href={social.link}
                class="transition ease-in-out hover:-translate-y-1 hover:text-indigo-500 mx-4 duration-300 hover:scale-150"><i
                  <i class={`fa-${social.name == "link"? "duotone" : "brands"} fa-${social.name}`} > 
                      </i></a>
              <span class="text-[var(--first-text-color)] absolute -top-10 left-[50%] -translate-x-[50%] 
        z-20 origin-left scale-0 px-2 rounded-lg border 
        border-gray-300 bg-[var(--bg-1)] py-1 text-sm font-bold
        shadow-md transition-all duration-300 ease-in-out 
        group-hover:scale-100">
                {social.name}
                <span></span>
              </span>
            </div>
          ))}

        </div>
    </div>
    
  </div>
</div>

<div class="absolute bottom-0 right-0 bg-[var(--bg-1)] w-full h-3/4 -z-40 rounded-xl">
  </div>
</div>
              ))}

            </div>
          </section>
          <Discord />
          <Footer />
        </div>
      </section>
    </section>
  </main>
</Layout>