---
export const prerender = false
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Playlist from "../components/playlist.tsx";
import Discord from "../components/discord.astro";
import Footer from "../components/footer.astro";
import ModalForm from "../components/modalForm.tsx";

//import pkg from "simpl.db";
//const { Database } = pkg;
//const db = new Database();
//const datadb = db.createCollection("data");
import {Datadb, db} from "../lib/mongo.ts";
//let datadb = await db.collection("data").find({}).toArray();
//@ts-ignore
let datadb = await Datadb.find({}).toArray()

//import fetch from 'node-fetch';
import convert from "xml-js";
import { json } from "stream/consumers";
const resposta = await fetch(
  "https://www.youtube.com/feeds/videos.xml?channel_id=UCk9euI8LDSSa0kzqyl9Klew",
);
var awa = await resposta.text();
var feed = JSON.parse(convert.xml2json(awa, { compact: true, spaces: 4 }));

const func = Astro.url.searchParams.get("func")! || "";
const edit: string = Astro.url.searchParams.get("edit")! || "";
var season: string = null;
if(edit !== ""){
  var serie: any = await db.collection("data").findOne({id: edit})! || "";
  if(serie === ""){
    return Astro.redirect('/dashboard');
  }
  season = Astro.url.searchParams.get("season")! || "";
}
---

<Layout
  title="onion dashboard :)"
  desc="Página de dashboard da OnionSubs!"
  img="/assets/bitmap.png"
>
  <div>{edit !== ""  ?
      <section class="w-full flex justify-center xl:py-5">
        {func === "create" ? <ModalForm client:load /> : null}
      <section
        class="w-full xl:w-4/5 back bg-[var(--bg-2)] xl:rounded-lg main"
        style="transition-duration: 500ms;"
      >
        <div class="header" id="home">
          <Navbar client:load transition:name="navbar" />
          <div
            class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
          >
            <div class="sm:flex sm:items-center sm:justify-between">
              <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold text-[var(--first-text-color)] sm:text-3xl">
                  {serie.title}
                </h1>

                <p class="mt-1.5 text-sm text-[var(--second-text-color)]">
                  {serie.desc} 🧅
                </p>
              </div>
            </div>
          </div>
          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)]"
            id="series"
          >

            {season ? 


              
              <div class="w-full text-zinc-600">
                {func === "create" ? <ModalForm seasonId={season} disc="Separe os links, caso haja mais de um com vírgula, por exemplo: 'link1, link2,link3' " intent="new-ep" showId={serie.id} title="novo episódio" infields={[
                        "ep",
                        "link",
                        "sinopse",
                        "img"]} client:load /> : null}
              <nav class="w-full rounded-md">
                <ol class="list-reset flex">
                  <li>
                    <a
                      href="/"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                      ><i class="hidden md:inline-block fa-duotone fa-house"
                      ></i> Home</a
                    >
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-neutral-400 fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href="/dashboard"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                    >
                      <i class="hidden md:inline-block fa-duotone fa-gears"></i>
                       dashboard
                    </a>
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-[var(--second-text-color)] fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href={`/dashboard?edit=${serie.id}`}
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                    >
                      {serie.title}</a
                    >
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-[var(--second-text-color)] fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href={`/dashboard?edit=${serie.id}&season=${season}`}
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                    >
                      {season}</a
                    >
                  </li>
                </ol>
              </nav>
            </div>
            <div class="flex justify-between">
              <h1 class="text-xl"><i class="fa-duotone fa-film"></i> episódios de {season}</h1>
              <a href="/series" class="block">
                <button
                  class="bg-[var(--second-text-color)] rounded-md text-left py-1 px-5 text-white"
                >
                  <i class="fa-duotone fa-angle-right"></i>
                </button>
              </a>
            </div>

            <div
              class="flex flex-wrap gap-4 md:justify-center space-x-5 overflow-x-auto lg:overflow-x-hidden md:flex-warp"
            >
            <Playlist
                title="Novo episódio"
                body="crie um novo episódio"
                image="/assets/bitmap.png"
                id="create"
                neww="true"
                client:load
              />
              {
                serie!.seasons.find(el => el.n === season)?.eps.map((item: any) => (
                  <Playlist
                    bintent="episodeDashboard"
                    dash="true"
                    title={item?.ep}
                    body={item?.sinopse}
                    image={item?.img! || serie.img! ||"/assets/bitmap.png"}
                    id={item?.ep}
                    rgb={serie.rgb}
                    links={item?.link}
                    //editbuttonhref={`?edit=${serie.id}&season=${item.n}`}
                     delButton={
                      {intent: "delet-ep",
                      showID: serie.id,
                      seasonId: season,
                      epId: item?.ep,}
                    }
                    client:load
                  />
                ))
              }
            </div>
          : 






<!--seasons -->



          <div class="w-full text-zinc-600">
            {func === "create" ? <ModalForm intent="new-season" showId={serie.id} title="nova temporada" infields={["title"]} client:load /> : null}
              <nav class="w-full rounded-md">
                <ol class="list-reset flex">
                  <li>
                    <a
                      href="/"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                      ><i class="hidden md:inline-block fa-duotone fa-house"
                      ></i> Home</a
                    >
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-neutral-500 dark:text-neutral-400 fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href="/dashboard"
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                    >
                      <i class="hidden md:inline-block fa-duotone fa-gears"></i>
                       dashboard
                    </a>
                  </li>
                  <li>
                    <i
                      class="text-xs mx-2 text-neutral-500 dark:text-neutral-400 fa-duotone fa-chevron-right"
                    ></i>
                  </li>
                  <li>
                    <a
                      href={`/dashboard?edit=${serie.id}`}
                      class="text-[var(--second-text-color)] transition duration-150 ease-in-out    "
                    >
                      {serie.title}</a
                    >
                  </li>
                </ol>
              </nav>
            </div>
        <div class="flex justify-between">
              <h1 class="text-xl"><i class="fa-duotone fa-film"></i> temporadas</h1>
              <a href="/series" class="block">
                <button
                  class="bg-[var(--second-text-color)] rounded-md text-left py-1 px-5 text-white"
                >
                  <i class="fa-duotone fa-angle-right"></i>
                </button>
              </a>
            </div>

            <div
              class="flex gap-4 md:justify-center space-x-5 overflow-x-auto lg:overflow-x-hidden md:flex-warp"
            >
            <Playlist
                title="Nova temporada"
                body="crie uma nova temporada"
                image={serie.img}
                rgb={serie.rgb}
                id="create"
                neww="true"
                client:load
              />
              {
                serie!.seasons.map((item: any) => (
                  <Playlist
                    dash="true"
                    title={item.n}
                    body={Object.values(item?.eps).map((entry: any) => entry.ep).join(', ') || serie.desc}
                    image={item?.eps[0]?.img! || serie.img ||"/assets/bitmap.png"}
                    id={item.n}
                    rgb={serie.rgb}
                    editbuttonhref={`?edit=${serie.id}&season=${item.n}`}
                    delButton={
                      {intent: "delet-season",
                      showID: serie.id}
                    }
                    client:load
                  />
                ))
              }
            </div>
      }


            
          </section>
        </div>
      </section>
    </section>
      :





    <section class="w-full flex justify-center py-5">
      {func === "create" ? <ModalForm client:load /> : null}
      <section
        class="overflow-hidden w-full xl:w-4/5 back bg-[var(--bg-2)] rounded-lg main"
        style="transition-duration: 500ms;"
      >
        <div class="header" id="home">
          <Navbar client:load transition:name="navbar" />
          <div
            class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
          >
            <div class="sm:flex sm:items-center sm:justify-between">
              <div class="text-center sm:text-left">
                <h1 class="text-2xl font-bold sm:text-3xl">
                  Bem-vinde de volta, usuário
                </h1>

                <p class="mt-1.5 text-sm ">
                  Vamos editar algo! 🎉
                </p>
              </div>
            </div>
          </div>
          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)]"
            id="series"
          >
            <div class="flex justify-between">
              <h1 class="text-xl"><i class="fa-duotone fa-film"></i> Séries</h1>
              <a href="/series" class="block">
                <button
                  class="bg-[var(--second-text-color)] rounded-md text-left py-1 px-5 text-white"
                >
                  <i class="fa-duotone fa-angle-right"></i>
                </button>
              </a>
            </div>
            <div
              class="flex gap-4 md:justify-center space-x-5 overflow-x-auto lg:overflow-x-hidden md:flex-warp"
            >
              <Playlist
                title="Nova série"
                body="crie uma nova série"
                image="/assets/bitmap.png"
                id="create"
                neww="true"
                client:load
              />
              {
                datadb.map((item: any) => (
                  <Playlist
                    dash="true"
                    title={item.title}
                    body={item.desc}
                    image={item.img}
                    id={item.id}
                    rgb={item.rgb}

                    client:load
                  />
                ))
              }
            </div>
          </section>
        </div>
      </section>
    </section>
  }</main>
  <script>
    localStorage.setItem("admin", "true");
  </script>
</Layout>