---
//import { MongoClient } from "mongodb";
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Playlist from "../components/playlist.tsx";
import Discord from "../components/discord.astro";
import Footer from "../components/footer.astro";
import MySwiper from "../components/Myswiper.jsx";

import { Datadb, latest } from "../lib/mongo.ts";
//let datadb = await db.collection("data").find({}).toArray();
//@ts-ignore
let datadb = await Datadb.find({}).toArray();

//import fetch from 'node-fetch';
import convert from "xml-js";
import { env } from "process";
const resposta = await fetch(
  "https://www.youtube.com/feeds/videos.xml?channel_id=UCk9euI8LDSSa0kzqyl9Klew"
);
var awa = await resposta.text();
var feed = JSON.parse(convert.xml2json(awa, { compact: true, spaces: 4 }));
/*
const options = {
  method: "GET",
  headers: {
    accept: "application/json",
    Authorization: "Bearer " + process.env.tmdbKey,
  },
};
var latest0 = await latest;

var res = await fetch(
  `https://api.themoviedb.org/3/search/tv?query=${latest0[0].title}&include_adult=true&language=pt-BR`,
  options,
).then((result) => (res = result.json()));

var latest1 = res.results[0];

var res = await fetch(
  `https://api.themoviedb.org/3/tv/91425/images`,
  options,
).then((result) => (res = result.json()));
var imgs = res;*/
---

<Layout
  title="Welcome to OnionSubs!"
  desc="Página home da OnionSubs!"
  img="/assets/bitmap.png"
>
  <main>
    <section class="w-full flex justify-center xl:py-5">
      <section
        class="w-full xl:w-4/5 back bg-[var(--bg-2)] xl:rounded-lg main"
        style="transition-duration: 500ms;"
      >
        <div class="header" id="home">
          <Navbar client:load transition:name="navbar" />
          <!-- <MySwiper client:load latest={latest1} imgs={imgs} />-->
          <div class="z-10 flex justify-around items-center m-9">
            <div>
              <h1
                class="text-4xl font-bold tracking-tight text-[var(--first-text-color)]"
              >
                Bem-vinde à {` `}
                <span class="magic">
                  <span class="magic-star">
                    <svg viewBox="0 0 512 512">
                      <path
                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                      ></path>
                    </svg>
                  </span>
                  <span class="magic-star">
                    <svg viewBox="0 0 512 512">
                      <path
                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                      ></path>
                    </svg>
                  </span>
                  <span class="magic-star">
                    <svg viewBox="0 0 512 512">
                      <path
                        d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                      ></path>
                    </svg>
                  </span>
                  <span class="magic-text">Onion Subs</span>
                </span>
                ! 🧅
              </h1>
              <p>Legendamos desenhos!</p>
            </div>
            <div class="max-[600px]:hidden">
              <img class="w-60" src="/assets/onionimg.svg" />
            </div>
          </div>
          <!-- -->
          <div class="z-50 hidden md:block absolute w-full rigth-0 xl:w-4/5">
            <div class="flex justify-evenly flex-wrap gap-2 px-5">
              {
                datadb.map((item: any) => (
                  <a href={"/" + item.id}>
                    <article
                      class={`border-[var(--bg-15)] ease-out duration-60 hover:-translate-y-0.5 active:translate-y-0.5 after:absolute after:content-[''] after:w-full after:h-[150%] after:bg-no-repeat after:bg-contain after:left-[13px] after:bottom-0 border-2 hover:border-[${item.rgb}] cursor-pointer transition duration-250 ease-in-out button-30 pl-28 p-4 relative bg-[var(--bg-1)] drop-shadow-xl rounded-full after:bg-[url('/assets/${item.id}/cha2.png')]`}
                    >
                      {item.title}
                    </article>
                  </a>
                ))
              }
            </div>
          </div>
          <div class="pb-20 xl:pb-10">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              ><path
                fill="var(--bg-1)"
                fill-opacity="1"
                d="M0,96L60,128C120,160,240,224,360,229.3C480,235,600,181,720,133.3C840,85,960,43,1080,32C1200,21,1320,43,1380,53.3L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
              ></path></svg
            >
          </div>

          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)] sob"
          >
            <div class="flex justify-between">
              <h1 class="text-xl">
                <i class="fa-duotone fa-video"></i> Últimos lançamentos
              </h1>
              <a href="https://www.youtube.com/@OnionSubs" class="block">
                <button
                  class="bg-[var(--bg-3)] rounded-md text-left py-1 px-5 text-white"
                >
                  <i class="fa-duotone fa-angle-right"></i>
                </button>
              </a>
            </div>
            <div
              class="flex md:justify-center space-x-5 overflow-x-auto lg:overflow-x-hidden md:flex-warp"
            >
              {
                feed.feed.entry.map((item: any) => (
                  <Playlist
                    rgb="#FF0000"
                    title={item.title._text}
                    body={item["media:group"]["media:description"]._text}
                    image={
                      item["media:group"]["media:thumbnail"]._attributes.url
                    }
                    id={item.title._text
                      .split(" ")
                      .slice(0, 2)
                      .join("")
                      .replace(/[^a-zA-Z0-9 ]/g, "")
                      .toLowerCase()}
                    link={item.link._attributes.href}
                  />
                ))
              }
            </div>
          </section>

          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)]"
            id="series"
          >
            <div class="flex justify-between">
              <h1 class="text-xl"><i class="fa-duotone fa-film"></i> Séries</h1>
              <a href="/series" class="block">
                <button
                  class="bg-[var(--bg-3)] rounded-md text-left py-1 px-5 text-white"
                >
                  <i class="fa-duotone fa-angle-right"></i>
                </button>
              </a>
            </div>
            <div
              class="flex gap-4 md:justify-center space-x-5 overflow-x-auto lg:overflow-x-hidden md:flex-warp"
            >
              {
                datadb.map((item: any) => (
                  <Playlist
                    title={item.title}
                    body={item.desc}
                    image={item.img}
                    id={item.id}
                    favv="true"
                    rgb={item.rgb}
                    db={datadb}
                    client:load
                  />
                ))
              }
            </div>
          </section>
          <Discord />
          <Footer />
        </div>
      </section>

      <script>
        let index = 0,
          interval = 3000;

        const rand = (min: any, max: any) =>
          Math.floor(Math.random() * (max - min + 1)) + min;

        const animate = function (star: any) {
          star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
          star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

          star.style.animation = "none";
          star.offsetHeight;
          star.style.animation = "";
        };

        for (const star of document.getElementsByClassName("magic-star")) {
          setTimeout(
            () => {
              animate(star);

              setInterval(() => animate(star), 1000);
            },
            index++ * (interval / 3)
          );
        }
      </script>
    </section>
  </main>
</Layout>
