---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Playlist from "../components/playlist.jsx";
import Discord from "../components/discord.astro";
import Footer from "../components/footer.astro";

//import pkg from "simpl.db";
//const { Database } = pkg;
//const db = new Database();
//const datadb = db.createCollection("data");
import {Datadb} from "../lib/mongo.ts";
//let datadb = await db.collection("data").find({}).toArray();
//@ts-ignore
let datadb = await Datadb.find({}).toArray()
---

<Layout title="Séries | OnionSubs!" desc="Página de séries da OnionSubs!">
  <main>
    <section class="w-full flex justify-center xl:py-5">
      <section
        class="w-full xl:w-4/5 back bg-[var(--bg-2)] xl:rounded-lg main"
        style="transition-duration: 500ms;"
      >
        <div class="header" id="home">
          <Navbar client:load transition:name="navbar" />
          <div class="flex-container1 p-10">
            <div>
              <h1 class="text-4xl font-bold tracking-tight">
                Catálogo de desenhos.
              </h1>
            </div>
            <div class="max-[600px]:hidden">
              <img class="w-60" src="/assets/onionimg.svg" />
            </div>
          </div>
          <div class="hidden md:block absolute w-full rigth-0 xl:w-4/5"></div>

          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)]"
            id="series"
          >
            <div class="flex justify-between">
              <h1 class="text-xl"><i class="fa-duotone fa-film"></i> Séries</h1>
            </div>

            <div class="flex flex-wrap gap-5 justify-center">
              {
                datadb.map((item: any) => (
                  <Playlist
                    title={item.title}
                    body={item.desc}
                    image={item.img}
                    id={item.id}
                    favv="true"
                    rgb={item.rgb}
                  />
                ))
              }
            </div>
          </section>
          <Discord />
          <Footer />
        </div>
      </section>

      <script>
        let index = 0,
          interval = 3000;

        const rand = (min: any, max: any) =>
          Math.floor(Math.random() * (max - min + 1)) + min;

        const animate = function (star: any) {
          star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
          star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

          star.style.animation = "none";
          star.offsetHeight;
          star.style.animation = "";
        };

        for (const star of document.getElementsByClassName("magic-star")) {
          setTimeout(
            () => {
              animate(star);

              setInterval(() => animate(star), 1000);
            },
            index++ * (interval / 3),
          );
        }
      </script>
    </section>
  </main>
</Layout>
