---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.jsx";
import Playlist from "../components/playlist.jsx";
import Discord from "../components/discord.astro";
import Footer from "../components/footer.astro";
import Fav from "../components/fav.jsx";

import {Datadb} from "../lib/mongo.ts";
//let datadb = await db.collection("data").find({}).toArray();
//@ts-ignore
let datadb = await Datadb.find({}).toArray()
---

<Layout title="User | OnionSubs!" desc="Página do usuário na OnionSubs!">
  <main>
    <section class="w-full flex justify-center xl:py-5">
      <section
        class="w-full xl:w-4/5 back bg-[var(--bg-2)] xl:rounded-lg main"
        style="transition-duration: 500ms;"
      >
        <div class="header" id="home">
          <Navbar client:load transition:name="navbar" />
          <div class="flex-container1">
            <div>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 500 500"
                width="100%"
                style="opacity: 1;"
                ><image
                  id="userpfp"
                  x="0"
                  y="0"
                  width="100%"
                  height="100%"
                  clip-path="url(#shape)"
                  href="https://api.dicebear.com/5.x/lorelei/svg?seed=Fl"
                  preserveAspectRatio="none"
                />
                <defs>
                  <linearGradient
                    id="gradient"
                    x1="0%"
                    y1="0%"
                    x2="0%"
                    y2="100%"
                  >
                    <stop offset="0%" style="stop-color: rgb(238, 205, 163);"
                    ></stop>
                    <stop offset="100%" style="stop-color: rgb(239, 98, 159);"
                    ></stop>
                  </linearGradient>
                </defs>
                <clipPath id="shape"
                  ><path id="blob" fill="url(#gradient)">
                    <animate
                      attributeName="d"
                      dur="10000ms"
                      repeatCount="indefinite"
                      values="M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;M453.78747,319.98894Q416.97789,389.97789,353.96683,436.87838Q290.95577,483.77887,223.95577,447.43366Q156.95577,411.08845,105.64373,365.97789Q54.33169,320.86732,62.67444,252.61056Q71.01719,184.3538,113.01965,135.21007Q155.02211,86.06634,220.52211,66.46683Q286.02211,46.86732,335.5,91.94472Q384.97789,137.02211,437.78747,193.51106Q490.59704,250,453.78747,319.98894Z;M411.39826,313.90633Q402.59677,377.81265,342.92059,407.63957Q283.24442,437.46649,215.13648,432.5428Q147.02853,427.61911,82.23325,380.9572Q17.43796,334.29529,20.45223,250.83809Q23.46649,167.38089,82.5856,115.05707Q141.70471,62.73325,212.19045,63.73015Q282.67618,64.72705,352.67308,84.79839Q422.66998,104.86972,421.43486,177.43486Q420.19974,250,411.39826,313.90633Z;M440.5,320.5Q418,391,355.5,442.5Q293,494,226,450.5Q159,407,99,367Q39,327,31.5,247.5Q24,168,89,125.5Q154,83,219.5,68Q285,53,335.5,94.5Q386,136,424.5,193Q463,250,440.5,320.5Z;"
                    ></animate>
                  </path></clipPath
                ></svg
              >
            </div>
            <div>
              <h1
                class="text-4xl font-bold tracking-tight text-[var(--first-text-color)]"
              >
                Bem-vinde usuário,
              </h1>
              <p>aqui mostraremos seus favoritos! 🧅</p>
            </div>
          </div>

          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"
              ><path
                fill="var(--bg-1)"
                d="M0,192L120,202.7C240,213,480,235,720,202.7C960,171,1200,85,1320,42.7L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
              ></path></svg
            >
          </div>
          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-1)] mb-20"
          >
            <div class="flex justify-between">
              <h1 class="text-xl">
                <i class="fa-solid fa-user"></i> área do usuário
              </h1>
              <button
                class="bg-[var(--bg-3)] rounded-md text-left py-1 px-5 text-white"
              >
                <a href="" class="block"
                  ><i class="fa-solid fa-angle-right"></i></a
                >
              </button>
            </div>
            <p>
              preparamos algumas opções para você receber um tratamento
              personalizado no site :D
            </p>

            <div class="flex justify-center space-x-5 flex-warp">
              <div>
                <label for="fname" class="block mb-2 text-sm font-medium"
                  >Seu nome de usuário:</label
                >
                <div class="flex flex-row items-center">
                  <input
                    value=""
                    oninput="saving(this)"
                    type="text"
                    id="fname"
                    name="fname"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
                  />
                  <i
                    id="identifier"
                    class="fa-solid fa-ellipsis px-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block p-2.5"
                  >
                  </i>
                </div>
              </div>
              <script is:inline>
                if (typeof localStorage.getItem("nome") !== "object") {
                  let fnome = document.querySelector("#fname");
                  //@ts-ignore
                  fnome.placeholder = localStorage.getItem("nome");
                }

                //@ts-ignore
                function saving(elem) {
                  const identifier = document.querySelector("#identifier");
                  if (elem.value.match(".*[a-z].*")) {
                    //@ts-ignore
                    identifier.classList.add("fa-check");
                    //@ts-ignore
                    identifier.classList.remove("fa-xmark");
                    //@ts-ignore
                    identifier.classList.remove("fa-ellipsis");
                    localStorage.setItem("nome", elem.value);
                    localStorage.setItem(
                      "pfp",
                      "https://api.dicebear.com/5.x/lorelei/svg?seed=" +
                        elem.value,
                    );
                  } else {
                    //@ts-ignore
                    identifier.classList.add("fa-xmark");
                    //@ts-ignore
                    identifier.classList.remove("fa-check");
                    //@ts-ignore
                    identifier.classList.remove("fa-ellipsis");
                  }
                  if (elem.value === "") {
                    //@ts-ignore
                    identifier.classList.remove("fa-xmark");
                    //@ts-ignore
                    identifier.classList.remove("fa-check");
                    //@ts-ignore
                    identifier.classList.add("fa-ellipsis");
                  }
                }
              </script>
              <div>
                <label for="pronome" class="block mb-2 text-sm font-medium"
                  >Pronome:</label
                >
                <select
                  onload="myFunction()"
                  onchange="save()"
                  id="pronome"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                  <option disabled selected>Selecione seu pronome</option>
                  <option value="elu">Elu/Delu</option>
                  <option value="ela">Ela/Dela</option>
                  <option value="ele">Ele/Dele</option>
                </select>

                <script is:inline>
                  function save() {
                    var select = document.querySelector("#pronome");
                    //@ts-ignore
                    localStorage.setItem(
                      "pronome",
                      select.options[select.selectedIndex].text,
                    );
                  }
                </script>
              </div>
            </div>
          </section>
          <section
            class="flex flex-col px-10 py-5 space-y-5 bg-[var(--bg-2)] sob"
          >
            <div class="flex justify-between">
              <h1 class="text-xl">
                <i class="fa-solid fa-star"></i> favoritos
              </h1>
              <button
                class="bg-[var(--bg-3)] rounded-md text-left py-1 px-5 text-white"
              >
                <a href="/series" class="block"
                  ><i class="fa-solid fa-angle-right"></i></a
                >
              </button>
            </div>
            <div class="flex justify-center gap-5 flex-warp">
              <Fav db={datadb} client:load />
            </div>
          </section>
          <Discord />
          <Footer />
        </div>
      </section>
      <script>
        if (typeof localStorage.getItem("nome") !== "object") {
          document.title = localStorage.getItem("nome") + "´s page!";
        }
      </script>

      <script is:inline>
        //var btns = document.getElementsByClassName('btn-particles');
        boom = function (e, btn) {
          if (btn.parents().children(".btn-particles").length > 0) return;
          var colors = [
            //"#ffb3f6",
            "rgb(251 191 36)",
            "#f0cc71",
            //"#7aa0ff",
            //"#333",
            // '#FFD100',
            // '#FF9300',
            // '#FF7FA4'
          ];
          var shapes = [
            '<polygon class="star" points="21,0,28.053423027509677,11.29179606750063,40.97218684219823,14.510643118126104,32.412678195541844,24.70820393249937,33.34349029814194,37.989356881873896,21,33,8.656509701858067,37.989356881873896,9.587321804458158,24.70820393249937,1.0278131578017735,14.510643118126108,13.94657697249032,11.291796067500632"></polygon>',
            // '<path class="circle" d="m 20 1 a 1 1 0 0 0 0 25 a 1 1 0 0 0 0 -25"></path>',
            '<polygon class="other-star" points="18,0,22.242640687119284,13.757359312880714,36,18,22.242640687119284,22.242640687119284,18.000000000000004,36,13.757359312880716,22.242640687119284,0,18.000000000000004,13.757359312880714,13.757359312880716"></polygon>',
            '<polygon class="diamond" points="18,0,27.192388155425117,8.80761184457488,36,18,27.19238815542512,27.192388155425117,18.000000000000004,36,8.807611844574883,27.19238815542512,0,18.000000000000004,8.80761184457488,8.807611844574884"></polygon>',
          ];

          btn.parent().append('<div class="btn-particles"></div>');
          var group = [];
          var num = Math.floor(Math.random() * 25) + 25;

          for (i = 0; i < num; i++) {
            var randBG = Math.floor(Math.random() * colors.length);
            var getShape = Math.floor(Math.random() * shapes.length);
            var c = Math.floor(Math.random() * 10) + 5;
            var scale = Math.floor(Math.random() * (8 - 4 + 1)) + 4;
            var x = Math.floor(Math.random() * (150 + 100)) - 100;
            var y = Math.floor(Math.random() * (150 + 100)) - 175;
            var sec = Math.floor(Math.random() * 1700) + 1500;
            var cir = $('<div class="cir"></div>');
            var shape = $('<svg class="shape">' + shapes[getShape] + "</svg>");

            shape.css({
              top: e.pageY - btn.offset().top - 50,
              left: e.pageX - btn.offset().left,
              transform: "scale(0." + scale + ")",
              transition: sec + "ms",
              fill: colors[randBG],
            });

            btn.parents().children(".btn-particles").append(shape);

            group.push({ shape: shape, x: x, y: y });
          }

          for (var a = 0; a < group.length; a++) {
            var shape = group[a].shape;
            var x = group[a].x,
              y = group[a].y;
            shape.css({
              left: x,
              top: y,
              transform: "scale(0)",
            });
          }

          setTimeout(function () {
            /*for (var b = 0; b < group.length; b++) {
          var shape = group[b].shape;
          shape.remove();
        }*/
            btn.parents().children(".btn-particles").remove();
            group = [];
          }, sec);
        };

        $(function () {
          $(document).on("click", ".favbtn", function (e) {
            boom(e, $(this));
          });
        });
        fetch("../../collections/data.json")
          .then((res) => res.json())
          .then((data) => {
            if (
              localStorage.getItem("fav") &&
              JSON.parse(localStorage.getItem("fav")).length > 0
            ) {
              var serie = data.find(
                (element) =>
                  element.id === JSON.parse(localStorage.getItem("fav"))[0],
              );
              document.body.classList.add(
                `bg-[url('/assets/${serie.id}/back.jpg')]`,
                "bg-fixed",
                "bg-cover",
                "bg-center",
              );
            }
          });
      </script>
    </section>
  </main>
</Layout>
