---

---
<section class="h-auto lg:h-72 bg-[#5865f2] text-white flex justify-center p-10">
    <img
      class="hidden lg:block lg:w-72 lg:static self-center -mb-7 aspect-square"
      src="/assets/wumpus.png"
    />

<div class="w-full lg:w-2/4 flex items-center">
  <div class="flex items-center flex-col w-full">
    <div class="flex items-center flex-col text-center">
      <h1 class="text-4xl font-bold tracking-tight">
        Seja parte da nossa comunidade! 🧅
      </h1>
      <p class="text-gray-200">
        Junte-se a nós no servidor oficial da OnionSubs e interaja <br /> com
        pessoas que curtem o mesmo que você
      </p>
    </div>
    <div class="pt-5">
      <button
        onclick="window.open('https://discord.gg/GMft3jGphe');"
        type="button"
        class="ease-out duration-300 text-white hover:text-[#5865f2] border border-white hover:bg-white font-medium rounded-lg text-sm px-20 py-2.5 text-center mr-2 mb-2"
        data-ripple-light="true"
        >Discord</button
      >
    </div>
  </div>
</div>
</section>
