---
interface Props {
  title: string;
  body: string;
  index: string;
  image: string;
  watched?: string;
  rgb?: string;
}

const { index, title, body, image, watched, rgb } = Astro.props;
---

<article
  class="h-full w-72 bg-[var(--bg-2)] rounded-lg shadow-xl"
  style="transition-duration: 500ms;"
  data-ripple-light="true"
>
  <div
    class="w-full h-40 block bg-[var(--second-text-color)] rounded-t-lg relative"
  >
    <div
      class="block rounded-t-lg aspect-square w-full h-full"
      style={`background:url('${image}') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;`}
    >
    </div>
  </div>

  <div
    class={`flex flex-col p-2 border-t-2 ${"border-[" + rgb + "]"}`}
    title={title}
  >
    <div class="flex flex-row flex-nowrap justify-between items-center">
      <h1
        class="w-9/12 text-[var(--first-text-color:)] text-xl font-bold text-clip overflow-hidden whitespace-nowrap"
      >
        {title}
      </h1>

    {
      typeof index !== "undefined" ? (
        <span
          class={`text-white px-2 py-1 text-xs float-right font-semibold bg-[${rgb}] rounded-md inline`}
        >
          EP. {index}
        </span>
      ) : null
    }
  </div>
  <span
    class="text-clip italic text-sm my-3"
    style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;"
  >
    {body}</span
  >
</article>
