---
import { MongoClient } from "mongodb";
//@ts-ignore
const client = new MongoClient(process.env.mongodburi);
const db = client.db("onion");

let datadb = await db.collection("data").find({}).toArray();
---

<footer class="p-4 bg-[var(--bg-dark-color)] rounded-b-lg flex gap-3 flex-col">
  <div class="flex-col">
    <div class="mb-6 md:mb-0">
      <a class="flex items-center">
        <img
          loading="lazy"
          src="/assets/onionlogoext.webp"
          class="h-16 mr-3"
          alt="OnionSubs Logo"
        />
      </a>
    </div>
    <div class="flex justify-between w-full px-6 gap-8 sm:gap-6 sm:grid-cols-3">
      <div>
        <h2 class="mb-6 text-sm font-semibold text-white">
          Desenhos legendados
        </h2>
        <ul class="text-gray-400">
          {
            datadb.map((item: any) => (
              <li class="mb-4">
                <a href={`/${item.id}`} title={item.title + " legendado"}>
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div>
        <h2
          class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
        >
          Parcerias
        </h2>
        <ul class="text-[var(--second-text-color)]">
          <li class="mb-4">
            <a href="https://luxialegendas.blogspot.com">
              <img
                loading="lazy"
                class="rounded-lg h-16"
                src="/assets/banner-luxia.webp"
              />
            </a>
          </li>
          <li>
            <a href="https://millenium-united.blogspot.com/">
              <img
                loading="lazy"
                class="rounded-lg h-16"
                src="/assets/banner-mill.webp"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="" />
  <div class="flex items-center justify-between flex-col sm:flex-row">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023 <a class="hover:underline">OnionSubs</a>.
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <a
        href="https://twitter.com/OnionSubs"
        class="transition duration-200 ease-in-out text-gray-500 hover:text-gray-900 dark:hover:text-white"
      >
        <i class="fa-brands fa-twitter"></i>
        <span class="sr-only">Twitter page</span>
      </a>
      <a
        href="https://discord.com/invite/rsj6wb6Xaf"
        class="transition duration-200 ease-in-out text-gray-500 hover:text-gray-900 dark:hover:text-white"
      >
        <i class="fa-brands fa-discord"></i>
        <span class="sr-only">Discord page</span>
      </a>
      <a
        href="https://www.youtube.com/@OnionSubs"
        class="transition duration-200 ease-in-out text-gray-500 hover:text-gray-900 dark:hover:text-white"
      >
        <i class="fa-brands fa-youtube"></i>
        <span class="sr-only">Youtube page</span>
      </a>
      <a
        href="https://gitlab.com/onionsubs/"
        class="transition duration-200 ease-in-out text-gray-500 hover:text-gray-900 dark:hover:text-white"
      >
        <i class="fa-brands fa-gitlab"></i>
        <span class="sr-only">Gitlab page</span>
      </a>
    </div>
    <button class="text-[var(--bg-12)] p-2" onclick="theme()">
      <i class="fa-solid fa-bomb"></i> segredo
    </button>
    <script is:inline>
      function theme() {
        const para = document.createElement("link");
        para.rel = "stylesheet";
        para.href = "css/theme.css";
        para.id = "switcher-id";
        document.head.appendChild(para);
      }
    </script>
  </div>
</footer>
