---
interface Props {
  title: string;
  body: string;
  id: string;
  image: string;
  fav?: string;
  dash?: string;
  link?: string;
  rgb?: string;
  neww?: string;
}

const { dash, id, title, body, image, rgb, fav, neww, link } = Astro.props;
---

<article
  id={title + "art"}
  class="min-w-full sm:min-w-0 w-full lg:w-1/3 2xl:w-1/4 bg-[var(--bg-second-color)] rounded-lg shadow-xl"
  style="transition-duration: 500ms;"
>
  <div class="w-full h-40 block bg-[var(--second-text-color)] rounded-t-lg">
    <!--                            <img class="block rounded-t-lg w-full h-full" style="object-fit: cover" src="<%= imgplay %>" alt=""> -->
    <div
      class="border-b-2 block rounded-t-lg w-full h-full"
      style={`background:url(${image}) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;` +
        (rgb ? ` border-color: ${rgb};` : " border-color: grey;")}
    >
    </div>
  </div>
  <div class="flex flex-col p-5" title={title}>
    <h1 class="font-xl font-bold">{title}</h1>
    <span
      class="text-clip italic text-sm mt-3 h-10"
      style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;"
    >
      {body}
    </span>
    <div
      class="flex flex-col md:flex-row space-y-3 md:space-y-0 md:space-x-3 xl:space-x-5 mt-5 text-white"
    >
      {
        dash !== "true" && neww !== "true" ? (
          <a href={`/${id}`} class="w-full">
            <button
              onmouseover={`this.style.background='${rgb}'`}
              onmouseout="this.style.background='var(--prime-color)'"
              class="w-full bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300"
              data-ripple-light="true"
            >
              <i class="fa-solid fa-play" />
            </button>
          </a>
        ) : null
      }

      <!--fav(${title}); -->
      {
        fav === "true" ? (
          <div class="w-full md:w-3/6">
            <button
              data-sin={title}
              onclick="fav(this)"
              id={`${id}btn`}
              class="w-full favbtn bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300 hover:bg-amber-400"
              data-ripple-light="true"
            >
              <i class="fa-duotone fa-stars" />
            </button>
          </div>
        ) : null
      }
      {
        dash === "true" ? (
          <>
            <div class="w-full">
              <button
                class="w-full bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300 hover:bg-blue-400"
                data-ripple-light="true"
              >
                <i class="fa-duotone fa-pencil" />
              </button>
            </div>
            <div class="w-full">
              <form method="POST" action="/api/serie">
                <input type="hidden" name="intent" id="intent" value="delet" />
                <input type="hidden" name="id" id="id" value={id} />
                <button
                  type="submit"
                  class="w-full bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300 hover:bg-rose-400"
                  data-ripple-light="true"
                >
                  <i class="fa-duotone fa-trash" />
                </button>
              </form>
            </div>
          </>
        ) : null
      }

      {
        neww === "true" ? (
          <div class="w-full">
            <a href="?func=create">
              <button
                class="w-full bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300 hover:bg-purple-400"
                data-ripple-light="true"
              >
                <i class="fa-duotone fa-plus" />
              </button>
            </a>
          </div>
        ) : null
      }

      {
        typeof link !== "undefined" ? (
          <a href={link} class="w-full md:w-3/6">
            <button
              class="w-full bg-[var(--prime-color)] rounded-md text-center py-2 ease-out duration-300 hover:bg-blue-400"
              data-ripple-light="true"
            >
              <i class="fa-duotone fa-link" />
            </button>
          </a>
        ) : null
      }
    </div>
  </div>
</article>
